node_modules/
.env
.DS_Store
/.wrangler/
/.cache/
N/
dist/
build/
coverage/
*.log
/.idea/
.vscode/
*.tgz
/.parcel-cache/
/.turbo/
pnpm-lock.yaml
/.vercel/
*.backup
*-backup
*-backup-*
*backup
*backup-*
.aider*
.dev.vars
